In [1]:
from ctwalk import places

/usr/local/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
rad = 1500
lat_lon = '52.373199818645645, 4.892693557537863'
osm_places =  places.get_osm_places_within_buffer('leisure=playground', lat_lon, radius= rad)
city = 'amsterdam' + str(rad)
osm_places.head()

,geometry,type,id,tags,nodes
0,POINT (4.87319 52.37062),node,268768172,"{'leisure': 'playground', 'wheelchair': 'yes'}",NaN
1,POINT (4.90046 52.36109),node,440673919,"{'access': 'yes', 'leisure': 'playground', 'wh...",NaN
2,POINT (4.88881 52.38222),node,1222424031,{'leisure': 'playground'},NaN
3,POINT (4.87577 52.36660),node,1242995317,{'leisure': 'playground'},NaN
4,POINT (4.89606 52.36905),node,1704398372,{'leisure': 'playground'},NaN